<ion-view title="Current Games" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="currentGames-list5">
      <ion-item id="currentGames-list-item24">Recent Game 1
        <span class="item-note">Last Move MM ago</span>
      </ion-item>
      <ion-item id="currentGames-list-item25">Recent Game 2
        <span class="item-note">Last Move MM ago</span>
      </ion-item>
      <ion-item id="currentGames-list-item26">Recent Game 3
        <span class="item-note">Last Move MM ago</span>
      </ion-item>
      <ion-item id="currentGames-list-item28">Recent Game 4
        <span class="item-note">Last Move MM ago</span>
      </ion-item>
      <ion-item id="currentGames-list-item29">Recent Game 5
        <span class="item-note">Last Move MM ago</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>