<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="home-container1" class="header">
      <h3 id="home-heading1" style="color:#000000;font-weight:400;text-align:center;" class="headers">Welcome User</h3>
    </div>
    <h4 id="home-heading4" style="color:#5F5050;font-style:italic;text-align:center;" class="bodytext"> Available Games </h4>
    <div class="item item-body" id="home-list-item-container6">
      <div id="home-container3">
        <h2 id="home-heading2" style="color:#000000;text-align:center;" class="bodytext">Tic Tac Toe</h2>
        <div id="home-markdown13" style="text-align:center;" class="show-list-numbers-and-dots bodytext">
          <p style="color:#000000;">Game Description</p>
        </div>
        <div>
          <img src="img/T2SkMNo5Rcmdx9Sa93O7_TicTac.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="home-markdown14" style="text-align:center;" class="show-list-numbers-and-dots bodytext">
          <p style="color:#2DBD5B;">Waiting to Start (1 out of 2 players)</p>
        </div>
        <button id="home-button1" class="button button-positive  button-block">Join</button>
      </div>
      <div id="home-container4">
        <h2 id="home-heading5" style="color:#000000;text-align:center;">Tic Tac Toe</h2>
        <div id="home-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Game Description</p>
        </div>
        <div>
          <img src="img/T2SkMNo5Rcmdx9Sa93O7_TicTac.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="home-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#2DBD5B;">Waiting to Start (1 out of 2 players)</p>
        </div>
        <button id="home-button3" class="button button-positive  button-block">Join</button>
      </div>
    </div>
  </ion-content>
</ion-view>