<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/S1PVRaICQoG2ogHhPS9X_bk.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <h2 id="login-heading9" style="color:#581F1F;font-style:italic;">Welcome New Player</h2>
      <ion-list id="login-list8">
        <label class="item item-input bodytext" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input bodytext" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.home" id="login-button4" class="button button-positive  button-block">Log in</a>
      <a ui-sref="signup" id="login-button5" class="button button-assertive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>