<ion-view title="My Account" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myAccount-card22">
      <ion-item class="item-avatar  user" id="myAccount-list-item13">
        <h2>Username</h2>
        <p>Member Since YYYY</p>
      </ion-item>
    </div>
    <div id="myAccount-container2" class="game-count creator-container"></div>
    <div id="myAccount-container5">
      <ion-list id="myAccount-list12">
        <ion-item class="item-icon-left  bodytext" id="myAccount-list-item38">
          <i class="icon ion-android-globe"></i>Statsistics</ion-item>
        <ion-item class="item-icon-left  bodytext" id="myAccount-list-item39">
          <i class="icon ion-trophy"></i>Games Played
          <span class="item-note">###</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>