<ion-view title="Chutes and Ladders" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/1Xbx43EjQUiNwfuioPnm_ChutesAndLaddersV3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="chutesAndLadders-container6">
      <h1 id="chutesAndLadders-heading10" style="color:#000000;">Stats:</h1>
    </div>
    <ion-list id="chutesAndLadders-list10">
      <ion-item class="item-icon-left" id="chutesAndLadders-list-item40">
        <i class="icon ion-android-apps"></i>Your Position
        <span class="item-note">##</span>
      </ion-item>
      <ion-item class="item-icon-left" id="chutesAndLadders-list-item41">
        <i class="icon ion-refresh"></i>Last Dice
        <span class="item-note">##</span>
      </ion-item>
      <ion-item class="item-divider" id="chutesAndLadders-list-item-divider1"> Player2 </ion-item>
    </ion-list>
    <ion-list id="chutesAndLadders-list11">
      <ion-item class="item-icon-left" id="chutesAndLadders-list-item42">
        <i class="icon ion-android-apps"></i>Player2 Position
        <span class="item-note">##</span>
      </ion-item>
      <ion-item class="item-icon-left" id="chutesAndLadders-list-item43">
        <i class="icon ion-refresh"></i>Last Dice
        <span class="item-note">##</span>
      </ion-item>
    </ion-list>
    <button id="chutesAndLadders-button20" class="button button-positive  button-block icon ion-social-dribbble"> Roll the Dice</button>
  </ion-content>
</ion-view>