<ion-view title="Create a Game" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="createAGame-form3" class="list">
      <h4 id="createAGame-heading7" style="color:#000000;">Game Name</h4>
      <label class="item item-input" id="createAGame-input6">
        <span class="input-label">Displayed Name </span>
        <input type="text" placeholder="">
      </label>
      <h4 id="createAGame-heading8" style="color:#000000;">Choose Game</h4>
      <label class="item item-select" id="createAGame-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Ticktacktoe</option>
          <option>Chutes and Ladders</option>
        </select>
      </label>
    </form>
    <button id="createAGame-button7" class="button button-positive  button-block">Create</button>
    <a ui-sref="tabsController.landingPage" id="createAGame-button8" class="button button-light  button-block">Cancel</a>
  </ion-content>
</ion-view>