<ion-view title="TicTacToe" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="ticTacToe-heading6" style="color:#000000;">TicTacToe</h1>
    <div id="ticTacToe-button-bar1" class="button-bar">
      <button id="ticTacToe-button10" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button11" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button12" class="button button-positive  button-outline"></button>
    </div>
    <div id="ticTacToe-button-bar2" class="button-bar">
      <button id="ticTacToe-button13" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button14" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button15" class="button button-positive  button-outline"></button>
    </div>
    <div id="ticTacToe-button-bar3" class="button-bar">
      <button id="ticTacToe-button16" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button17" class="button button-positive  button-outline"></button>
      <button id="ticTacToe-button18" class="button button-positive  button-outline"></button>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="tabsController.landingPage" id="ticTacToe-button19" class="button button-positive  button-block">Home</a>
  </ion-content>
</ion-view>